.banner {
    
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 1000px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');


.text-title {
color: #e5e5e5;
font-size: 2.26rem;
display: flex;
align-items: center;
justify-content: center;
}

.animation {
height: 55px;
overflow:hidden;
margin-left: 1rem;
font-weight: bold;
}

.animation > div > div {
padding: 0.25rem 0.75rem;
height:2.80rem;
margin-bottom: 2.81rem;
display:inline-block;
}

.animation div:first-child {
animation: text-animation 8s infinite;
}

.first div {
background-color:#00a8e4;
border-radius: 5px;
}
.second div {
background-color:#3e3e3e;
border-radius: 5px;
}
.third div {
background-color:#ffdb13;
border-radius: 5px;
color:#1c1c1c;
}


@keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
}



.banner > img {
    bottom: 0;
    position: absolute;
    align-content: flex-end;
    width: 100%;
    pointer-events: none;
    filter: drop-shadow(5px 2px 5px rgba(0, 0, 0, 0.3));
    -webkit-filter: drop-shadow(5px 2px 5px rgba(0, 0, 0, 0.3));
}

.content{
    z-index: 2;
    position: relative;
    max-width: 600px;
    color: #fff;
    padding-left: 20%;
}

.content h1 {
    font-size: 70px;
}
.content p {
    font-size: 40px;
}

.content-img {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 20%;
    pointer-events: none;
}

/* -----------------------------BOTON--------------------------------- */
/* CODIGO OBTENIDO DE LA PAGINA uiverse.io y del usuario @satyamchaudharydev
*/
.button {
    margin-top:10px;
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #1ecf76;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Roboto";
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
   }
   
   .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
   }
   
   .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
   }
   
   .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }
   
   .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   }
   
   .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
   }
   
   .text {
    top: 0
   }
   
   .text,.icon {
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
   }
   
   .icon {
    color: #fff;
    top: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   }
   
   .button:hover {
    background-image: url(../img/acecompleto.png);
    background-position: -80% ;
    display: flex;
    align-items: center;
    justify-content: center;
    
   }
   
   .button:hover .text {
    top: -100%;
   }
   
   .button:hover .icon {
    top: 0;
   }
   
   .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
   }
   
   .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
   }
   
   .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
   }
   